@charset "UTF-8";

body {
    background-color: #1f1f22;
    color :rgb(255, 255, 255);
    padding-top: 50px;
    font-family: 'Cormorant Garamond', serif;
}

header {
    width: 100%;
    height: 70px;
    background: #151518;
    padding: 20px 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    font-size: larger;
/*↓バーのメニューを右に揃える*/
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
}
header h1 {
    font-size: 40px;
    margin: 30px;
}
header ul{
    display:flex;
    margin: 30px 20px;
}
header li{
    padding:10px 20px;
    list-style-type:none;
}
header a {
    color:White;
    text-decoration: none;
}
header a:hover {
    color:#a8cec9;
}

.hero{
    /*背景画像の挿入*/
        background-image: url(DSC_4121.jpg);
        background-size: cover;
        background-position: center;
        height: 1000px;
        padding: 50px;
        margin: 0 20px;
        white-space: nowrap;
        text-align: center;
        box-sizing: border-box;
    }
.hero h1{
	margin-top: 300px;
	font-size: 60px;
}
.hero p{
	margin: -50px 0 120px 0px;
	font-size:20px;
}	
.hero a{
	font-size: 50px;
	border:solid 2px #FFFFFF;
	padding: 15px 70px;
	text-decoration: none;
	color:white;
	border-radius: 10px;
	background-color: rgba(255,255,255,0.2);
}
.hero a:hover{
	color:#a8cec9;
}
.current a{
	color:#a8cec9;
}

footer{
	margin:0 50px;
}
footer .c{
	text-align: center;
}
footer img{
	margin:30px 30px 0 30px;
	height:30px;
}
footer .c a:link{
	text-decoration:none;
	border-style:none;
}


/*ここから下はabout.htmlのdivの内容*/
.about img{
    height:500px;
}
.about {
    display: flex;
    justify-content:center;
}
.about .d{
    margin: 0 100px;
}
.about .d h3{
    font-size: 40px;
}
.about .d .e{
    font-size: 23px;
    margin: -50px 0 40px 0;
}
.about a{
    color: #FFFFFF;
    text-decoration: none;
}
.about a:hover{
    color: #a8cec9;
}

.f{
    text-align:center;
}
.f h1{
    margin: 100px 0 0 0 ;
    font-size: 47px;
}
.f .g{
    display:flex;
    justify-content: center;
}
.f .g p{
    font-size: 30px;
    margin: 20px 100px;
}
.f .h{
    display:flex;
    justify-content: center;
}
.f .h p{
    font-size: 30px;
    margin: 20px 92px;
}
.f .i{
    display:flex;
    justify-content: center;
}
.f .i p{
    font-size: 30px;
    margin: 20px 86px;
}
.f .j .a{
    font-size:40px;
    margin: 30px 0 0 0;
}
.f .j .b{
    font-size: 20px;
    margin: 10px 0 0 0;
}
.f .j .b a{
    color:White;
}
.f .j .b a:hover{
    color:#a8cec9;
}
.f .k{
    display:flex;
    justify-content: center;
}
.f .k p{
    font-size: 30px;
    margin: 20px 100px;
}
.f .l{
    display:flex;
    justify-content: center;
}
.f .l p{
    font-size: 30px;
    margin: 20px 111px 100px 111px;
}


/* ここから下はworks.htmlのdivの内容 */
div .hero1{
    background-image: url(DSC_0175.JPG);
    background-size:cover;
    background-position: center;
    height:300px;
    margin:-30px 20px 0 20px;
    text-align: center;
    box-sizing: border-box
}
div .hero1 h1{
    padding:110px;
    font-size:50px;
    color:white;
    
}
div .hero1 a h1{
    text-decoration: none;
}
div .hero1 a:link{
    text-decoration:none;
    border-style:none;
}
div .hero1 a:hover h1{
    color: #a8cec9;
}

div .hero2{
    background-image: url(DSC_0168.JPG);
    background-size:cover;
    background-position: center;
    height:300px;
    margin:-42px 20px 0 20px;
    text-align: center;
    box-sizing: border-box
}
div .hero2 h1{
    padding:110px;
    font-size:50px;
    color:white;
    
}
div .hero2 a h1{
    text-decoration: none;
}
div .hero2 a:link{
    text-decoration:none;
    border-style:none;
}
div .hero2 a:hover h1{
    color: #a8cec9;
}

div .hero3{
    background-image: url(DSC_0161.JPG);
    background-size:cover;
    background-position: center;
    height:300px;
    margin:-42px 20px 0 20px;
    text-align: center;
    box-sizing: border-box;
}
div .hero3 h1{
    padding:110px;
    font-size:50px;
    color:white;
}
div .hero3 a h1{
    text-decoration: none;
}
div .hero3 a:link{
    text-decoration:none;
    border-style:none;
}
div .hero3 a:hover h1{
    color: #a8cec9;
}

div .hero4{
    background-image: url(DSC_0180.JPG);
    background-size:cover;
    background-position: center;
    height:300px;
    margin:-42px 20px 0 20px;
    text-align: center;
    box-sizing: border-box;
}
div .hero4 h1{
    padding:110px;
    font-size:50px;
    color:white;
}
div .hero4 a h1{
    text-decoration: none;
}
div .hero4 a:link{
    text-decoration:none;
    border-style:none;
}
div .hero4 a:hover h1{
    color: #a8cec9;
}

div .hero5{
    background-image: url(DSC_4469.JPG);
    background-size:cover;
    background-position: center;
    height:300px;
    margin:-42px 20px 0 20px;
    text-align: center;
    box-sizing: border-box;
}
div .hero5 h1{
    padding:110px;
    font-size:50px;
    color:white;
}
div .hero5 a h1{
    text-decoration: none;
}
div .hero5 a:link{
    text-decoration:none;
    border-style:none;
}
div .hero5 a:hover h1{
    color: #a8cec9;
}


/* 以下はdivのgear */
.nav{
    display:none;
	color:white;
	text-align: center;
}

.nav-open{
    margin: 20px 20px;
	padding: 20px;
	color: #fff;
	font-size: 25px;
	background: #434246;
	position: relative;
    text-align: center;
}
.nav-open::before{/* 閉じている時 */
	content: "－";
	position: absolute;
	right: 20px;
}
.nav-open.active::before{/* 開いている時 */
	content: "＋";
}

div .a img{
    width:350px;
}
div .a{
    display:flex;
    justify-content: center;
}
div .a .b{
    width:200px;
    margin: -20px 80px;
}
div .a .b h1{
    text-align: start;
    font-size:30px;
}
div .a .b p{
    text-align: start;
    font-size: 15px;
}

div .c img{
    width:350px;
}
div .c{
    display:flex;
    justify-content: center;
    margin-top:10px;
}
div .c .b{
    width:200px;
    margin: -20px 80px;
}
div .c .b h1{
    text-align: start;
    font-size:30px;
}
div .c .b p{
    text-align: start;
    font-size: 15px;
}
