@charset "UTF8";
body {
    background-color: #1f1f22;
    color :rgb(255, 255, 255);
    padding-top: 50px;
    font-family: 'Cormorant Garamond', serif;
}

header {
    width: 100%;
    height: 70px;
    background: #151518;
    padding: 20px 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0; 
    left: 0; 
    display: flex; 
    align-items: center; 
    font-size: larger;
/*↓バーのメニューを右に揃える*/
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: space-between;
}
header h1 {
    font-size: 40px;
    margin: 30px;
}
header ul{
    display:flex;
    margin: 30px 20px;
}
header li{
    padding:10px 20px;
    list-style-type:none;
}
header a {
    color:White;
    text-decoration: none;
}
header a:hover {
    color:#a8cec9;
}

.hero{
/*背景画像の挿入*/
    background-image: url(DSC_4121.jpg);
    background-size: cover;
    background-position: center;
    height: 1000px;
    padding: 50px;
    margin: 0 20px;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
}
.hero h1{
    margin-top: 300px;
    font-size: 60px;
}
.hero p{
    margin: -50px 0 120px 0px;
    font-size:20px;
}
.hero a{
    font-size: 50px;
    border:solid 2px #FFFFFF;
    padding: 15px 70px;
    text-decoration: none;
    color:white;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.2);
}
.hero a:hover{
    color:#a8cec9;
}
.current a{
    color:#a8cec9;
}

footer{
    margin:0 50px;
}
footer .c{
    text-align: center;
}
footer img{
    margin:30px 30px 0 30px;
    height:30px;
}
footer .c a:link{
    text-decoration:none;
    border-style:none;
}

/* 以下が作品の紹介 */
div h1{
    text-align: center;
    font-size:40px;
}
div .in{
    margin: -30px 0 50px 0;
    text-align: center;
    font-size:17px;
}

div .a{
    display: flex;
    justify-content:center;
}
div .a img{
    width:560px;
}
div .a .b{
    margin: -20px 100px;
    width:450px
}
div .a .b h1{
    text-align: start;
    font-size: 30px;
}
div .a .b p{
    font-size: 15px;
}

div .c{
    display: flex;
    justify-content:center;
    margin: 20px 0;
}
div .c img{
    width:560px;
}
div .c .d{
    margin: -20px 100px;
    width:450px;
}
div .c .d h1{
    text-align: start;
    font-size: 30px;
}
div .c .d p{
    font-size: 15px;
}

